################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GildedRose.App/obj
/.vs
/GildedRose.App/bin/Debug/netcoreapp3.1
/GildedRose.UnitTest/obj
/GildedRose.UnitTest/bin/Debug/netcoreapp3.1
/GildedRose.App/GildedRose.App.csproj.user
/GildedRose.UnitTest/GildedRose.UnitTest.csproj.user
/GildedRose.App/bin/Release/netcoreapp3.1
/GildedRose.App/Properties/launchSettings.json
